*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arima Madurai', cursive;
    color: white;
}

/*      NAV BAR  */

.logoimg{
    display: flex;
    height: 46px; 
}

.li{
    list-style: none;
}

.a{
    text-decoration: none;
}

.li .a:hover:not(.active) {
    transition: .8s;
    color: #09f4f0; 
}

.li .a.active {
    color: #09f4f0;
    text-shadow: 1px 1px 5px black;  
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #56070C;
    min-height: 10vh; 
}

nav{
    width: 60%;
}

.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu div{
    background-color: white;
    width: 40px;
    height: 6px;
    margin: 8px 0;
    display: none;  
}

@media(max-width:1000px){
    *{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .links{
        position: absolute;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 30%;
        background-color: #820810;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.8s ease-in-out;
    }

    .active-links{
        transform: translateX(0);
    }

    .menu div{
        display: block; 
    }
} 



/*           CONTENIDO              */


.Productos{
    background: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 120vh;
    margin: 50px;
}

.grid-diseño{
    display: grid;
    gap: 1rem;
    grid-template-columns: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-columns: repeat(6,1fr);
    gap: 5px;
}

.container-product{
    background-color: rgb(208, 196, 196);
    text-align: center;
    height: 250px;
    width: 250px;

}

.container-paquete{
    background-color: rgb(208, 196, 196);
    text-align: center;
    height: 250px;
    width: 250px;

}

.container-product > h1{
    color: black;
}

.container-product > h2{
    color: rgb(141, 42, 42);
}













.container-paquete > h1{
    color: black;
}

.container-paquete > h2{
    color: rgb(141, 42, 42);
}


/*      FOOTER          */


.pie-pagina{
    width: 100%;
    background-color: #56070C;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #820810;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #820810;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    
}
